doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/lib/layui/css/layui.css',media='all')
    link(rel='stylesheet', href='/lib/contextMenu/jquery.contextMenu.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/lib/jquery/jquery-3.2.1.min.js')
    script(src='/lib/contextMenu/jquery.contextMenu.min.js')
    script(src='/lib/layui/layui.js')
    script(src='/lib/frame/js/fsDict.js?v=1.6.2')
    script(src='/lib/frame/js/fs.js?v=1.6.2')
    script(src='/lib/frame/js/main.js?v=1.6.2')
  body
    block content
