<!DOCTYPE html>
<html>

<head>
	<title>报价</title>
	<script src="/javascripts/common/head.js"></script>
	<style>
		.layui-form-label {
			width: 100px;

		}
	</style>
	<script src="/lib/vue/vue.js"></script>
	<script src="/lib/moment/moment.js"></script>
	<script src="/lib/moment/zh.js"></script>
	<script src="/lib/jquery/jQuery.print.min.js"></script>
</head>

<body>
	<div class="layui-row layui-col-space0" id="vue-offer">
		<div class="layui-col-md12">
			<div class="layui-row grid-demo">
				<div class="layui-col-md3">
					<div class="layui-btn-group userOffer">
						<button class="layui-btn layui-btn-normal" data-type="add">增加</button>
						<button class="layui-btn" data-type="excel">导出</button>
						<button class="layui-btn layui-btn-danger" data-type="clear">清空数据</button>
					</div>
				</div>
				<div class="layui-col-md3">
					<label class="layui-form-label">折扣</label>
					<div class="layui-input-inline">
						<input lay-verify="required|number" type="text" v-bind:value="actdiscount" v-model="discount"
							placeholder="输入折扣" class="layui-input">
					</div>
				</div>
			</div>
		</div>
	</div>

	<table class="layui-table" id="lay-table"
		lay-data="{height: 'full-50', cellMinWidth: 50, limit:10, url:'/demo/table/offer/', page:true, id:'offerTest'}"
		lay-filter="userOffer">
		<thead>
			<tr>
				<th lay-data="{field:'id', width:80, sort: true, fixed: true}">#</th>
				<th lay-data="{field:'usage', width:100}">安装 区域</th>
				<th lay-data="{field:'curMaterial', minwidth:80, sort: true}">产品名称</th>
				<th lay-data="{field:'curName', minWidth:80}">产品型号</th>
				<th lay-data="{field:'style', minWidth:80}">饰面</th>
				<th lay-data="{field:'texture', minWidth:80}">材质</th>
				<th lay-data="{field:'type', width:80}">形状</th>

				<th lay-data="{field:'num', width:80}">数量</th>
				<th lay-data="{field:'unitmeas', width:80}">单位</th>
				<th lay-data="{field:'realLen', width:80}">长(高)</th>
				<th lay-data="{field:'realWid', width:80}">宽</th>
				<th lay-data="{field:'realDeep', width:80}">深(厚)</th>
				<th lay-data="{field:'calcNum', minwidth:80}">统计数量</th>
				<th lay-data="{field:'calcUnitmeas', minwidth:80}">统计单位</th>
				<th lay-data="{field:'singlePrice', width:80}">单价</th>
				<th lay-data="{field:'discountPrice', width:80}">总价</th>
				<th lay-data="{field:'options', minwidth:80}">附加条件</th>
				<th lay-data="{fixed: 'right', minWidth:178, align:'center', toolbar: '#barUserOffer'}"></th>
			</tr>
		</thead>
	</table>

	<script type="text/html" id="barUserOffer">
			<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">编辑</a>
			<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="copy">复制</a>
			<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete" >删除</a>
		</script>
	<script src="script/com.js"></script>
	<script src="script/offer.js"></script>
</body>

</html>