<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="/javascripts/common/head.js"></script>
		<style>
			.layui-form-label {
				width: 100px;
			}
		</style>
		<script src="/lib/vue/vue.js"></script>
	</head>

	<body>
		<div id="body-password">
			<div style="height: 15px;"></div>
			<!--添加-->
			<form class="layui-form" id="vue-password">
				<div class="layui-form-item">
					<label class="layui-form-label">密码框</label>
					<div class="layui-input-inline">
						<input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input" id="password">
					</div>
				</div>
				<!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
			</form>
		</div>
	</body>

</html>